.header_margin{
    margin-top: 5%;
}
.designStars{
    color: gold;
}
.mat-paginator-page-size{
    display: none !important;
}
.like{
    color: blue;
    font-size: 20px;
}
.unlike{
    color: black;
    font-size: 20px;
}